.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  button{
	font-family: 'Times New Roman';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 200px;
	height: 40px;
	line-height: 1;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	border: 3px solid #3f3f42;
	background: #090909;
	color: #ffffff;
	border-radius: 40px;
	cursor: pointer;
	overflow: hidden;
	transition: all .5s;
  }
  
  button:hover{
	background: #d6d5df;
	color: #080808;
  }
  
  button span{
	opacity: 1;
	visibility: visible;
	transition: all .35s;
  }
  
  .success{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 50%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all .35s;
  }
  
  .success svg{
	width: 20px;
	height: 20px;
	fill: rgb(0, 0, 0);
	transform-origin: 50% 50%;
	transform: translateY(-50%) rotate(0deg) scale(0);
	transition: all .35s;
  }
  
  button.is_active{
	width: 40px;
	height: 40px;
  }
  
  button.is_active .success{
	opacity: 1;
	visibility: visible;
  }
  
  button.is_active .success svg{
	margin-top: 50%;
	transform: translateY(-50%) rotate(720deg) scale(1);
  }
  
  button.is_active span{
	opacity: 0;
	visibility: hidden;
  }